.meta-item .item-collapse .js-collapse .is-sticky{
  color:#ffffff !important;
  background-color:#055db5 !important;
}
.zm-item-expanded .item-collapse{
  color:#ffffff !important;
  background-color:#055db5 !important;
}
